# fly.toml app configuration file generated for the-fool on 2025-12-22T14:56:27Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'the-fool'
primary_region = 'nrt'

[build]

[http_service]
internal_port = 5000
force_https = true
auto_stop_machines = 'stop'
auto_start_machines = true
min_machines_running = 0
processes = ['app']

[[vm]]
memory = '1gb'
cpu_kind = 'shared'
cpus = 6
memory_mb = 1536
